<!DOCTYPE html>
<html lang="ru">
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="keywords"    content="">
  <link href=".css" rel="stylesheet">
  <title>test web</title>

  <header class="page-header">page-header
    <pre>

 /\ \  __/\ \        /\ \
 \ \ \/\ \ \ \     __\ \ \____
  \ \ \ \ \ \ \  /'__`\ \ '__`\
   \ \ \_/ \_\ \/\  __/\ \ \_\ \
    \ `\___x___/\ \____\\ \_,__/
     \ /__//__/  \/____/ \/___/

    </pre>
  </header>

  <main>
    A
    {% block A %}B{% endblock %}
    C
  </main>

  <footer class="page-footer">page-footer</footer>

<script src=".js"></script>
</html>
